.header {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Разбиваем header на 3 части */
.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

/* Выравниванием элементы относительно header */
.header__announcment {
    justify-self: center;
}

.header__navigation {
    justify-self: end;
}

/* Горизонтальный адаптив */
@media (max-width: 750px) {
    .header__container {
        grid-template-columns: 60px 1fr 60px;
    }
}

@media (max-width: 480px) {
    .header__container {
        grid-template-columns: 45px 1fr 45px;
    }
}
