/* Для позиционирования различнх элементов отностиельно html */
html {
    position: relative;
    box-sizing: border-box;
}

/* Наследование свойства box-sizing border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента*/
*,
*:after,
*:before {
    box-sizing: inherit;
}

/* указываем значения по умолчанию */
/* Указываем основной цвет фона и цвет шрифта, на случай не загрузки страницы */
/* min-width - по минимальному размера макета, min-height: 100vh - видимая часть  */
body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    background-color: #000;
    color: #fff;
    background-image: linear-gradient(181.78deg, rgba(0, 0, 0, 0) 49.38%, rgba(0, 0, 0, 0.42) 98.49%),
        url('../img/background.jpg');
    background-position: center;
    /*запрет повторения фона*/
    background-size: cover;
    background-repeat: no-repeat;
}

/* Для того, чтобы картинки не выпадали из контейнера */
img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    padding: 0;
}

/* Убираем у ссылок подчеркивание и наследуем цвет текста */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
}

/* Убираем границы для видео */
iframe {
    border: none;
}

/* Задаем размер конейнера по контенту макета */
.container {
    max-width: 1172px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 31px;
}

.page {
    position: relative;
}

.page:before {
    content: '';
    position: absolute;
    right: 96px;
    bottom: 0;
    width: 100%;
    height: calc(100% - 115px);
    background-image: url('../img/gerald-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    z-index: -1;
}

/* Вертикальный адаптив */
@media (min-height: 900px) {
    .page {
        display: flex;
        flex-direction: column;
    }
}

/* Горизонтальный адаптив */
@media (max-width: 1000px) {
    body {
        font-size: 16px;
    }

    .page:before {
        right: 0;

        height: calc(100% - 90px);
    }
}

@media (max-width: 850px) {
    .container {
        padding: 0 39px;
    }

    
    .page:before {
        top: 109px;
        bottom: auto;
        height: 448px;
    }
}

@media (max-width: 650px) {
    .container {
        padding: 0 25px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .page:before {
        top: 49px;
        height: 258px;
    }
}